*.ipynb
__pycache__/

# ignore virtual environment folder
pss_env

# ignore vscode settings
.vscode

# ignore test encoded image
encoded_image.png

# Python Artifacts
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# Test Caches
.pytest_cache/

# Build Artifacts
*.egg-info/
build/
data/

# Editor settings
.vscode

# Files
*.png
*.bmp
*.jpg
*.ppm
